@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;600;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(27, 27, 27);
  color: white;
  font-family: "Darker Grotesque", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;

  background-image: url(https://uploads-ssl.webflow.com/6408bea3de5aef58b7e197d4/6438c3059d443cd7a78762eb_stars-bg.png);
  background-position: 50%;
  background-size: 1090px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow-x: hidden;
}

* {
  -webkit-tap-highlight-color: transparent;
}
